{% extends 'base.html' %}
{% load static%}
{% block title%}{{ post.tag}}{% endblock %}
{% block content %}
<h1>{{post.title}}</h1><hr><p>{{post.category}}</p>
<strong><h3>{{post.author}}</h3></strong>
{{post.publish_date}}

{% if user.is_authenticated and user.id == post.author.id%}
<small><a href="{% url 'update_post' post.pk%}"> (edit)</a></small>
{% endif%}

{% if post.header_img%}
<img src="{{post.header_img.url}}" alt="" height="200 px" width="200px">{% endif%}
<p>{{post.body}}</p>

<form action="{% url 'like_post' post.pk%}" method="POST">
    {% csrf_token%}
{% if user in post.likes.all %}
<button type="submit" class="btn btn-danger">unlike</button> <span>likes : {{post.total_likes}}</span>
{% else%}
<button type="submit" class="btn btn-primary">like</button> <span>likes : {{post.total_likes}}</span>
{% endif %}
</form>
<br>
<a href="{% url 'home' %}" class="btn btn-secondary">back</a>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
        {% if post.author.profile.profile_pic%}

      <img src="{{ post.author.profile.profile_pic.url }}" class="img-fluid rounded-start" >
      {%else%}
            <img src="{% static 'ablog/images/profile.png'%}" class="img-fluid rounded-start" >

      {% endif%}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
          <a href="{% url 'show_profile' post.author.profile.id%}">
          {{post.author}}</a>
        </h5>
        <p class="card-text">{{post.author.profile.bio}}</p>
        <p class="card-text"><small class="text-body-secondary">{{post.publish_date}}</small></p>
      </div>
    </div>
  </div>
</div>


{% endblock %}