{% extends 'base.html' %}
{% block title%}Posts{% endblock %}
{% block content%}


<h1>Blogs</h1>
<ol>
  {% for post in object_list %}
  <li>
    <a href="{% url 'article' post.pk%}">
      <h4>{{post.title}}</h4>
    </a>
  </li>
  <p>author : {{post.author}}, published on : {{post.publish_date}} , category : <a href="{% url 'category_view' post.category %}">{{post.category}}</a> 
     {% if user.is_authenticated and user.id == post.author.id  %}

  <small><a href="{% url 'update_post' post.pk%}"> ( edit )     </a>
    <a href="{% url 'delete_post' post.pk%}"> ( delete ) </a></small>
  {% endif%}</p>

  <p>  {{post.snippets}}</p>

  {%endfor%}
</ol>
{% endblock %}